<%- include ('layouts/main') %>
  <!-- Connection of admin header -->
  <%- include ('layouts/aheader') %>
    <%- include ('layouts/footer') %>

      <h3 class="text-center">Edit Category </h3>
      <div class="container">
        <div class="text-left">
          <a class="btn btn-dark mb-2" href="/category/get"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg></a>
        </div>

        <form action="/update/<%= category._id %>" method="post">
          <div class="form-group mt-4">
            <label for="exampleInputName">Category</label>
            <input type="text" name="category" class="form-control" placeholder="Edit Category"
              value=<%=category.category %> required>
          </div>

          <div class="text-left mt-2">
            <button type="submit" class="btn-block btn btn-success mt-4" <a href="/category/get"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save"
                viewBox="0 0 16 16">
                <path
                  d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
              </svg> Update</button>

          </div>
        </form>
      </div>