<%- include ('layouts/main') %>
  <!-- Connection of home header -->
  <%- include ('layouts/hheader') %>


    <body>

      <div class="container my-5">
        <a class="btn btn-dark mb-2" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
              d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></a>

        <div class="container mt-3">
          <h1 class="title text-center">
            <%= bloggs[0].title %>
          </h1>
        </div>
        <div class="container mt-2">
          <h5 class="date"><small class="text-muted">
              <%= bloggs[0].createdAt.toDateString() %>
            </small></h5>
        </div>
        <div class="container mt-2">
          <h5 class="category">
            <%= bloggs[0].category.category %>
          </h5>
        </div>

        <div class="container"><img src="/<%= bloggs[0].image %>" class=" img-fluid p-0" /></div>
        <div class="container mt-2">
          <pre class="text" style="white-space: pre-wrap; word-wrap: break-word; font-family: 'Quicksand', sans-serif;">
            <%= bloggs[0].description %>
          </pre>
        </div>
      </div>







    </body>